upstream php {
  server wordpress:9000;
}

server {
  listen 80;
  server_name exemplo.com.br www.exemplo.com.br;

  return 301 https://$host$request_uri;
}

server {
  listen 443 ssl;
  server_name exemplo.com.br www.exemplo.com.br;

  ssl_certificate /etc/letsencrypt/live/exemplo.com.br/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/exemplo.com.br/privkey.pem;
  ssl_trusted_certificate /etc/letsencrypt/live/exemplo.com.br/chain.pem;

  root /var/www/html;
  index index.php;

  location / {
    try_files $uri $uri/ /index.php?$args;
  }

  location ~ \.php$ {
    try_files $uri =404;
    fastcgi_split_path_info ^(.+\.php)(/.+)$;
    fastcgi_pass php;
    fastcgi_index index.php;
    fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    include fastcgi_params;
  }

  location ~ /\.ht {
    deny all;
  }
}
